.loginbackground {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    background-attachment: fixed;
  }    

  .logIn {
    font-size: 40px;  
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    position: absolute;
    right: 4%;
    top: 1em;
    background-attachment: fixed;  
    position: fixed;

}

.logIn ul {
  line-height: 10em; 
}
.loginbutton li {
  margin: 10px 0;    
}  

.logIn li  a { 
  
 color: white;
 padding: 1rem;    
 font-weight: 100;
 cursor:pointer;  
 margin-bottom: 20px;
 padding-inline: 5px;
}

.firstimg { 
  background-image: url('../video/Splash1.svg'); 
  width: 678px;
  height: 440px;  
}
  
.secondimg {
  background-image: url('../video/Splash2.svg'); 
  width:678px;
  height:440px;
}
.thirdimg {
  background-image: url('../video/Splash3.svg');
  z-index: 1;
  width: 678px;
  height: 440px;
}

.fourthimg{

  z-index: 1;
  width: 874px; 
  height: 530px; 
  display: flex;
  justify-content: center;   
  align-items: center;

}
.hiddentext{
  opacity: 0.5%;
}
.fourthimg {
  background-image: url('../video/Splash4.svg');
}  
  


.Screen1 {
  
    width: 780px;
    margin: 0 auto; 
    margin-top: 300px; 
    margin-bottom: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    background-color: black;
    opacity: .7;
    border-radius: 5px;
    border-radius: 15px;

  }
  
  .Screen1 h1,
  .Screen1 h2 {
    color: white;
  }
  
  .Screen1 h1 {
    font-size: 64px;
    margin: 0;
    margin-bottom: 3px;
    font-family: "Kanit", sans-serif;
  }
  
  .Screen1 h2 {
    font-weight: 200;
    font-size: 19px;
    text-align: center;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;  
  }
      
  .footer,
  .Screen2,
  .Screen3,
  .Screen4 {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 105px;
    padding-bottom: 105px;
    height: fit-content;
    background-color: black;
    color: white;
    opacity: .7;
    border-radius: 10px; 
    margin: 0 auto; 
    margin-top: 300px; 
    margin-bottom: 400px;
    border-radius: 15px;
  }
  
  
  .homeContentWords {
    display: flex;
    flex-direction: column;
    width: 380px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 90px;
    display: flex;
    justify-content: center;
  }
  
  #shiftRight {
    margin-right: 90px;
  }
  
  .homeContentWords h3 {
    font-size: 49px;
    margin-top: 44px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
  }
  
  .homeContentWords h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: 30px;
    display: flex;
    justify-content: center;
  }


.Screen5 {
    padding-top: 105px;
    padding-bottom: 105px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: black;
    opacity: .9;
    border-radius: 5px;   

  }
  
  .Screen5 h3,
  .Screen5 h4 {
    margin: 0 auto;
    width: fit-content;
    color: white;
    display: flex;
    justify-content: center;
  }
  
  .Screen5 h3 {
      font-family: "Kanit", sans-serif;
      font-size: 53px;
  }
  
  .Screen5 h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    line-height: 30px;
    text-align: center;
    width: 940px;
    margin-bottom: 105px;
  }   

  .Logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    position: absolute;
    left: 4%;
    top: 3em;
    font-size: large;
    
  }
 
.footer h1 {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
  ul {
    display: flex;  
    justify-content: space-around;  
    flex-direction: column;
    align-items: center;
    min-height: 8vh; 
    padding-inline: 20px;
}

h1.about-header {
    padding: 30px 0;
}

p {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

li {
    list-style: none;
}

img {
    justify-content: flex-end;
}

.contrib {
    display: flex;
    justify-content: space-between;
}

.contrib a .about-icon {
    font-size: 36px;
}

.footer  {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
  background-color: black;
  color: white;
  opacity: .9;
  border-radius: 5px; 
  margin: 0 auto; 
  margin-top: 300px; 
  margin-bottom: 400px;  
  text-decoration: none;
}  

.github-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
}

.linkedIn-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
}

.Link {
  display: flex;
  align-items: center;
  gap: 30px;
  
}

.github-repo {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}