.channels-container {
  background-color: rgb(53, 53, 53);
  width: 100%;
  height: 100vh;
  color: rgb(241, 239, 239);
  grid-column: 2/ 3;
  grid-row: 1 / 6;
  position: relative;
  display: flex;
  flex-direction: column;

}
.channels-container .scroll {
  padding-bottom: 2rem;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
.channels-container h1 {
  text-align: center;
  font-size: 20px;
  padding: 1em 0 2rem 0;
}

.channel {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(46, 45, 45);
  margin: 3px 6px;
  border-radius: 7px;
  min-height: 2.75rem;
}
.channel * {
  padding: 0 7px;
}
.channel {
  color: lightgray;
}

.channel:hover {
  background-color: rgb(66, 66, 66);
  cursor: pointer;
}

.channel p {
  font-size: 16px;
  display: inline-block;
}
.settings-cog:hover {
  color: rgb(140, 127, 141) !important;
}


.add-server-container {
  /* color: pink; */
  text-align: end;
  padding-right: 8px;
  margin-bottom: 5px;
}

.add-server-container:hover {
  cursor: pointer;
}

.edit-channel {
  color: #fffffb;
  position: absolute;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: #36393f;
  z-index: 10;

}

.form-container {
  position: relative;

}
.close-icon {
  position: absolute;
  top: 2.5rem;
  right: -7rem;
  font-size: 2.8rem;
  cursor: pointer;
}
.close-icon::after {
  content: "ESC";
  font-size: 13px;
  position: absolute;
  right: 10px;
  bottom: -17px;
}
.close-icon:hover {
  color: red;
}
.close-icon:hover::after{
  color: #fffffb;
}
.edit-channel-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-width: 500px;
  padding: 5rem 3rem;
}

.edit-channel-form input, .edit-channel-form textarea{
  margin-bottom: 2rem;
  background-color: #313339;
  border-color: black;
  border-radius: 3px;
  padding: 0.35rem;
  color: #fffffb;
  min-width: 500px;
  max-width: 500px;
  font-size: 1.15rem;

}

.edit-channel-form input:focus, textarea:focus {
  outline-color: #00aff4;
}

.edit-channel-form .description{
  height: 175px;
  position: relative;
  resize:none;
}
.edit-channel-form h3 {
  padding-bottom: 0.75rem;
  text-align: start;
  padding-left: 0.25rem;
}
.edit-channel-form label {
  align-self: flex-start;
  position: relative;
}

.edit-channel-form label span {
  position:absolute;
  bottom: 45px;
  right: 10px;
  font-size: 0.85rem;
  opacity: 0.70;
}

.delete-channel-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
  font-size: 1.5rem;
  height: 100%;
  text-align: center;
  background-color: #2f3136;
  width: 35%;
}
.delete-channel-div * {
  padding-right: 1rem;
}

.delete-channel-div h2 {
  margin-bottom: 5rem;
}

.delete-channel{
  border: none;
  color: red;
  position: relative;
  font-size: 1.2rem;
  background-color: transparent;
  padding: 0.35rem 0.6rem;
  border-radius: 10px;
}
.delete-channel-div span {
  border-bottom: solid 1px #fffffb;
  width: 45%;
  margin: 0 auto 5px auto;
  opacity: 35%;
  margin-right: 0;
}

.delete-channel:hover {
  cursor: pointer;
  background-color: #393c43;
}

.edit-channel button[type='submit'] {
  color: #fffffb;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 7px;
  padding: 0.5rem 1.35rem;
  margin-left: 0.75rem;
  background-color: #3ba55d;
  align-self: flex-start;

}

.edit-channel button[type='submit']:hover {
  background-color: #2a7e45;
}

.profile-dropdown {
  background-color: rgb(46, 45, 45);
  margin: 3px 6px;
  border-radius: 7px;
  min-height: 2.75rem;
}
.edit-server-div {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem  0.7rem 1rem;
  white-space: nowrap;
  color: white;
}

#server-name-in-channel {
  font-size: 20px;
}

.plus-color {
  color: rgb(223, 223, 223);
}

.minus-color {
 color: rgb(233, 184, 184);
}
