.edit-server-container span {
    align-self: center;
    margin-right: 1rem;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 7px;
    color: rgb(216, 216, 216);
}

.edit-server-container span:hover {
    background-color: #434447;
    color: white;
}

.edit-server-dropdown {
    position: absolute;
    background-color: #18191c;
    width: 85%;
    opacity: 0.975;
    margin-left: 7px;
    padding: 1rem;
    height: 10rem;
    display: flex;
    flex-direction: column;;
    justify-content: space-between;
}
.edit-server-dropdown-non-owner {
    position: absolute;
    background-color: #18191c;
    width: 85%;
    opacity: 0.975;
    margin-left: 7px;
    padding: 1rem;
    height: 5rem;
    display: flex;
    flex-direction: column;;
    justify-content: space-between;
}
.server-edit-form{
    width: 100%;
    text-align: center;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-server-name {
    background-color: black;
    width: 100%;
    color:rgb(212, 212, 212);
    border: none;
    padding: 7px;
    margin-top: 5px;
}
.rndm {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
.rndm label {
    margin-bottom: 10px;
}

.server-edit-form input{
    outline: none;
    padding:5px 1px;
    margin: 3px 0;
}
.edit-server-name:hover {
    background-color: #5865f2;
}
.delete-server-button-form {
    background-color: black;
    width:100%;
}
.delete-server {
    border: none;
    color: #ed4245;
    background-color: transparent;
    width: 100%;
    padding: 5px;
}

.delete-server:hover {
    color: white;
    background-color: #ed4245;
}

.unjoin-server {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}


#edit-server-non-owner-div {
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    height: 5rem;
}
