.loggedin-container {
    background-color: rgb(39, 39, 39);
    /* margin: auto 0 0 0; */
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10.39rem;
}
.left-loggedin {
  display: flex;
  gap: 10px;
}

.user-avatar {
    box-sizing: border-box;
    border-radius: 50%;
    height: 37px;
    width: 37px;
    background-size: contain;
    margin-left: 10px;
}

.user-logout {
  padding: 1rem;
}

.user-logout:hover {
  background-color: blue;
  /* color: rgb(0, 0, 0); */
}

.cancel {
  color: rgba(255, 38, 38, 0.8)
}



.user-options{
    color: #fffffb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 10rem;
  height: 7rem;
  background-color: #36393f;
  z-index: 10;
  text-align: center;

}




  .edit-user-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-width: 500px;
    padding: 5rem 3rem;
  }

  .edit-user-form input{
    margin-bottom: 2rem;
    background-color: #313339;
    border-color: black;
    border-radius: 3px;
    padding: 0.35rem;
    color: #fffffb;
    min-width: 500px;
    max-width: 500px;
    font-size: 1.15rem;
  }

  .logout span {
    border-bottom: solid 1px #fffffb;
    width: 45%;
    margin: 0 auto 5px auto;
    opacity: 35%;
    margin-right: 0;
  }
  .logout{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    font-size: 1.5rem;
    height: 100%;
    text-align: center;
    width: 35%;
  }
  .logout span{
    border-bottom: solid 1px #fffffb;
    width: 45%;
    margin: 0 auto 5px auto;
    opacity: 35%;
    margin-right: 0;
  }

  .logout-user{
    border: none;
    color: red;

    font-size: 1.2rem;
    background-color: transparent;
    padding: 0.35rem 0.6rem;
    border-radius: 10px;
  }


  .exit-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.8rem;
    cursor: pointer;
  }
  .exit-icon::before {
    content: "ESC";
    font-size: 13px;
    position: absolute;
    right: 10px;
    bottom: -17px;
  }
  .exit-icon:hover {
    color: red;
  }
  .exit-icon:hover::after{
    color: #fffffb;
  }

  .logout h2{
      margin-bottom: 2rem;
  }

  #username-bottom-channels-bar {
    padding-top: 0.5rem;
  }
