.add-channel{
 cursor: hover;
 padding-bottom: 0.5rem;
}

.scroll{
  margin-top: 15px;
  overflow-y: scroll;
  position: relative;
  height: 60vh;
}
.create-channel {
  display: flex;
  flex-direction: column;
  background-color: #31364a;
  text-align: center;
  height: 500px;
  border-radius: 10px;
  padding: 1rem;
}

.create-channel label{
  text-align: left;
  font-size: 1.3rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  color: rgb(214, 214, 214);
}
.create-channel h2 {
  font-size: 2.5rem;
  color: rgb(240, 238, 235);
  padding: 1rem 2rem;
}
.button-container {
  align-self: flex-end;
  margin-top: auto;
  background-color: #292d3e;
  width: 100%;
  padding: 2rem 0 1rem 0;
}
.button-container * {
  color: rgb(238, 235, 230);
}
.button-container span {
  margin-right: 1.25rem;
  font-weight: 700;
}


.button-container span:hover {
 cursor: pointer;
 background-image: linear-gradient(to bottom, white 33%, transparent 33%, transparent 66%, white 66%, white);
 background-position: 0 1.03em;
 background-repeat: repeat-x;
 background-size: 2px 6px;


}

.create-channel button {
  background-color: #5865f2;
  padding: 0.8rem 1.25rem;
  border: none;
  border-radius: 5px;

  font-weight: 900;
}
.create-channel input,input::placeholder {
  background-color: #292d3e;
  padding: 0.75rem 0.45rem;
  font-size: 1.25rem;
  border-radius: 5px;
  color: white;
}
.create-channel input:focus {
  outline-color: #00aff4;
}
.create-channel button.empty {
  background-color: #434b94;
}
.create-channel button:hover {
  background-color: #434b94;
}

.add-channel {
  margin-top: 1rem;
  font-size: 12px;
}
