.explore-container {
    background-color: rgb(53, 53, 53);
    width: 100%;
    height: 100vh;
    overflow: scroll;
    flex-direction: column;
    position: relative;
    padding-left: 2em;
    padding-right: 2em;
    grid-column: 3/6;
}

.channels-container {
    background-color: rgb(53, 53, 53);
    width: 100%;
    height: 100vh;
    color: rgb(241, 239, 239);
    grid-column: 2/ 3;
    grid-row: 1 / 6;

  }
  .channels-container .scroll {
    padding-bottom: 2rem;
    overflow-y: scroll;
  }

  .channel {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(46, 45, 45);
    margin: 3px 6px;
    border-radius: 7px;
    min-height: 2.75rem;
  }
  .channel * {
    padding: 0 7px;
  }
  .channel {
    color: lightgray;
  }

  .channel:hover {
    background-color: rgb(66, 66, 66);
    cursor: pointer;
  }

  .channel p {
    font-size: 16px;
    display: inline-block;
  }
/* search */

.topPart {
  width: 100%;
  min-height: 100px;
  max-height: 300px;
  border-radius: 11px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../video/1490237.jpg');
}

.topSearch {
  z-index: 2;
  position: relative;
  width: fit-content;
  margin: 8vw auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topSearch h3 {
  font-size: 25px;
  color: white;
  margin: 0;
}

.topSearch h5 {
  font-size: 16px;
  font-weight: 200;
  color: white;
  margin: 7px 0 14px 0;
}

.search-form {
  max-width: 540px;
  min-width: 350px;
  width: 35vw;
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 3px;
}

.search-input {
  flex-grow:1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 3px;
}

.searchCompassButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: rgb(150,153,157);
  margin-right: 10px;
}

.search-form:focus-within {
  outline: solid rgb(191, 176, 255);
}






   /* servers */
  .ServerDisplay {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
  }
.explore-servers-card {
  width: 90%;
  height: 200px;
  background-color: honeydew;
  border-radius: 25px;
}

.explore-links-image {
  width: 100%;
  height: 60%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
