.server-container {
    border: 1px solid black;
    /* position: absolute; */
    width: 200px;
    height: 100%;
    text-align: center;
    overflow-y: scroll;
    grid-column: 1 / 2;
    grid-row: 1 / 6
}

.server-links-div {
    box-sizing: border-box;
    border-radius: 50%;
    margin: 5%;
    height: 75px;
    width: 75px;
    text-align: center;
    padding-top: 13%;
    font-size: 20px;
    background-size: contain;
    z-index: -1;
    transition: all .2s ease-in-out;
}
.server-links-div:hover{
    box-sizing: border-box;
    border-radius: 50%;
    margin: 5%;
    height: 75px;
    width: 75px;
    text-align: center;
    padding-top: 13%;
    font-size: 20px;
    background-size: contain;
    z-index: -1;
    transform: scale(1.1);
}

.server-links {
    text-decoration: none;
    color: rgb(59, 28, 28);
    font-weight: 800;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
